<div class="chatheader flex-row">
    <div class="chatheaderClear"></div>
    <div class="chatheaderTitle backColorLightBlue">
        {{messages?.name}}
    </div>
    <div class="chatheaderTime backColorDarkBlue">
        {{messages?.timeStamp | amTimeAgo}}
    </div>
</div>
<img class="image" [src]="messages.imageUrl">

<div class="backColorSeaBlue chatmsg padding5px ">
    <pre style="font-family: Roboto, 'Helvetica Neue', sans-serif;white-space: pre-wrap; color:white"> {{messages?.text}}</pre>
</div>