<div class="container">
    <div class="chatheaderRight flex-row">
        <div class="chatheaderTimeRight backColorDarkSeaGreen">
            {{messages?.timestamp | amTimeAgo }}
            <!-- <div class="chatheaderTitleRight backColorLightSeaGreen"> -->
            {{messages?.name }}
            <!-- </div> -->
        </div>

    </div>
    <img [src]="messages.imageUrl" class="icon40px">
    <div class="backColorSeaGreen">
        <pre style="font-family: Roboto, 'Helvetica Neue', sans-serif;white-space: pre-wrap; color:white">{{messages?.text}}</pre>
    </div>
</div>