<app-user-nav></app-user-nav>
<div class="container">
<md-card>
 <md-card-content>
     <button type="button" title="Refresh Data"  class="btn btn-sm btn-outline-secondary float-right" (click)="refreshBooking()"><i class="material-icons">refresh</i></button>
     <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#CDGK" role="tab">CDGK (Sadar)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#gulshan" role="tab">Gulshan parking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#dha" role="tab">DHA Parking</a>
        </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="CDGK" role="tabpanel">
                <br>
                <h2>CDGK BOOKING SLOTS</h2><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DATE</th>
                            <th>SLOT NUMBER</th>
                            <th>SLOT TIMING</th>
                            <th>PRICE</th>
                            <th>CANCEL BOOKING</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let slot of CDGKBooking | async; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{slot.date}}</td>
                            <td>{{slot.slotNumber}}</td>
                            <td>{{slot.timeSlot}}</td>
                            <td>RS.{{slot.price}}</td>
                            <td><button type="button" md-raised-button color="warn" class="btn" (click)="cancelCDGKBooking(slot.$key)">Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="gulshan" role="tabpanel">
                <br>
                <h2>GULSHAN BOOKING SLOTS</h2><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DATE</th>
                            <th>SLOT NUMBER</th>
                            <th>SLOT TIMING</th>
                            <th>PRICE</th>
                            <th>CANCEL BOOKING</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let slot of gulshanBooking | async; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{slot.date}}</td>
                            <td>{{slot.slotNumber}}</td>
                            <td>{{slot.timeSlot}}</td>
                            <td>RS.{{slot.price}}</td>
                            <td><button type="button" md-raised-button color="warn" class="btn" (click)="cancelGulshanBooking(slot.$key)">Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="dha" role="tabpanel">
                <br>
                <h2>DHA BOOKING SLOTS</h2><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DATE</th>
                            <th>SLOT NUMBER</th>
                            <th>SLOT TIMING</th>
                            <th>PRICE</th>
                            <th>CANCEL BOOKING</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let slot of DHABooking | async; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{slot.date}}</td>
                            <td>{{slot.slotNumber}}</td>
                            <td>{{slot.timeSlot}}</td>
                            <td>RS.{{slot.price}}</td>
                            <td><button type="button" md-raised-button color="warn" class="btn" (click)="cancelDHABooking(slot.$key)">Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
 </md-card-content>
</md-card>
</div>