<app-nav> </app-nav>
<div class="container">
  <h1>Real-time Parking Booking System</h1>
  <p>The proposed project is a smart real-time parking booking system that provides customers an easy way of reserving a parking space online. It overcomes the problem of finding a parking space in commercial areas that unnecessary consumes time. Hence this project offers a web or mobile based reservation system where users can view various parking areas and select the space to view whether space is available or not. If the booking space is available then he can book it for specific time slot. The booked space will be marked yellow and will not be available for anyone else for the specified time. This system provides an additional feature of cancelling the bookings. User can cancel their books space anytime. After making booking users are notified about the booking via email along with unique parking number. </p>

  <h2>Modules:</h2>
  <ul>
    <li><strong>Admin Login:</strong> The system is under supervision of admin who manages the bookings made. </li>
    <li><strong>User login/registration:</strong> Users have to first register themselves to login into the system. </li>
    <li><strong>Three Parking areas:</strong> The system will provide users with three parking areas of different locations.</li>
    <li><strong>Parking availability check:</strong> User can click on spaces to view the availability. If the space is already booked it will be marked yellow and the available ones will be seen in normal color.</li>
    <li><strong>Parking booking online for date and time:</strong> Users can book parking space for their required date and time.</li>
    <li><strong>Parking cancellation:</strong> User may even cancel their bookings by login into the system anytime. </li>
    <li><strong>Email on successful parking booking:</strong> When user is successful in booking the space, system sends a confirmation and 'thank you' email regarding the space booked.</li>
    <li><strong>Feedback:</strong> The system has a feedback form, where user can provide feedback into the system.</li>
  </ul>

  <h2>User side functionality:</h2> 
  <ul>
    <li>Book parking space</li>
    <li>Cancellation</li>
    <li>Receipt Print</li>
    <li>Feedback</li>
  </ul>

<h2>Admin side functionality:</h2>
  <ul>
    <li>Administers parking booked </li>
    <li>Cancellation</li>
    <li>View User Data</li>
    <li>Feedback view and reply</li>
  </ul>

  <h2>Advantages:</h2>
  <ul>
    <li>Users can get learn about parking areas for particular locations.</li>
    <li>It saves user time in search of parking space available in such a long parking area.</li>
    <li>The system provides a graphical view of the parking spaces.</li>
    <li>It excludes the need of human efforts for managing parking spaces.</li>
    <li>The system generates online bill for requested time and even sends an email.</li>
    <li>Cost-effective.</li>
  </ul>
  
  <h2>Disadvantages:</h2>
  <ul>
    <li>It requires an internet connection.</li>
    <li>It requires large database.</li>
  </ul>

  <h2>Application:</h2>
  <ul>
    <li>The project can be implemented in commercial areas for employee parking.</li>
    <li>It can be utilized by companies and organizations (hospitals, schools, colleges) to automate their parking system.</li>
    <li>The system can also be used in public places for public parking like in malls, station, and so on.</li>
  </ul>
</div>